{% extends 'basic.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}"> 
{% endblock %}
{% block content %}
<main>
        <div class="container-1">
            <div class="card-1">
                <div class="face face1">
                    <div class="content">
                        <img src="{% static 'images/about/design_128.png' %}">
                        <h3>Design</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Дизайн спроектирован на коленке и за короткое время</p>
                            
                    </div>
                </div>
            </div>
            <div class="card-1">
                <div class="face face1">
                    <div class="content">
                        <img src="{% static 'images/about/code_128.png' %}">
                        <h3>Code</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Самая трудная часть вот этого всего ПрОеКтА.</p>
                            
                    </div>
                </div>
            </div>
            <div class="card-1">
                <div class="face face1">
                    <div class="content">
                        <img src="{% static 'images/about/launch_128.png' %}">
                        <h3>Launch</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Удачного вам использования! :D ;D :d ;d</p>
                            
                    </div>
                </div>
            </div>
        </div>
    </main>
        {%endblock%}