{% extends 'basic.html' %}
{% block content %}
    <main class="main-cont">
        <div class="courses-container">
            {% for key,value in x %}
            <div>
            <div class="course">
                <div class="course-preview" >
                    <h4>Тема</h4>
                    <h2>{{key.topic}}</h2>
                    {% if object.owner_id == user.id %}
                    <div class="f-button p-2" style="display:inline-block">
                        <a href="{% url 'topic-edit' key.id %}">
                            <span class="inline-icon" style="width: 32px; height: 32px;">
                                <img style="min-width:32px; min-height:32px; max-width:32px; object-fit: cover; max-height: 432px;" src="/media/resources/icons/pen.png" >
                            </span>
                        </a>
                    </div>{% endif %}
                </div>
                <div class="course-info">
                {% for g in value %}
                    <div style="margin-bottom: 10px;">{% if g.topic_content %}<a class="clear-link" href="{{g.topic_content.url}}" style="display: flex;">{% if g.file_type %}<span class="inline-icon" style="background-image: url({{ g.file_type.url }})"></span>{%endif%}{%endif%}<h2 style="word-break:break-word">{{ g.name }}</h2></a></div>
                    {% endfor %}
                </div>

            </div>

                </div>
            {% endfor %}
	    </div>
    </main>
{%endblock%}