{% extends 'basic.html' %}
{% block head %}<style>
    .errorlist{
        display: inline-block;
        color: #e35f5f;
    }
        .hidden{
        display: none;
        }

    </style>{% endblock %}
{% block content %}
{% load static %}

    <main>
    {% if user.is_authenticated %}
        <div class="wrapper justify-content-center align-items-center">
            <div class="edit-case">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_urina_rotina.management_form }}

                 <div class="group topic d-flex justify-content-center align-items-center flex-wrap flex-d-column"> <div ><label for="{{form.topic.id_for_label}}" class="label">{{ form.topic.label }}</label></div>{{ form.topic }} </div>
                <div class="" id="ingredient-form-list">
                    {% for form in form_urina_rotina %}
                    <div class="ingredient-form">
                        <div style="margin: 15px 0px;"> <div><label for="{{form.name.id_for_label}}" class="label">{{ form.name.label }}</label></div>{{ form.name }} </div>
                        <div style="margin: 15px 0px;"> Фотография <label for="{{form.topic_content.id_for_label}}" class="custom-file-upload ddd" style="min-width: 80px; text-align:center;"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
  <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
</svg>{{ form.topic_content }}</label> </div>
                        <div style="margin: 15px 0px;"> <div><label for="{{form.file_type.id_for_label}}" class="label">{{ form.file_type.label }}</label></div> {{ form.file_type }}</div>
                        <div style="margin: 15px 0px;text-align: right;" class="checkbox-hidden"> <label for="{{form.DELETE.id_for_label}}" style="cursor: pointer; font-weight: 600" class="label" onclick="delete_row(this)">{{ form.DELETE.label }}</label> {{ form.DELETE }}</div>
                    </div>
                {% endfor %}
                </div>
                <div id="empty-form" class="hidden">
                    <div style="margin: 15px 0px;">
                        <div>
                            <label for="{{form_urina_rotina.empty_form.name.id_for_label}}" class="label">{{ form_urina_rotina.empty_form.name.label }}</label>
                        </div>{{ form_urina_rotina.empty_form.name }}
                    </div>
                    <div style="margin: 15px 0px;"> Фотография
                        <label for="{{form_urina_rotina.empty_form.topic_content.id_for_label}}" class="custom-file-upload ddd" style="min-width: 80px; text-align:center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
                              <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                            </svg>
                            {{ form_urina_rotina.empty_form.topic_content }}</label>
                    </div>
                    <div style="margin: 15px 0px;">
                        <div>
                            <label for="{{form_urina_rotina.empty_form.file_type.id_for_label}}" class="label">{{ form_urina_rotina.empty_form.file_type.label }}</label>
                        </div> {{ form_urina_rotina.empty_form.file_type }}
                    </div>
                    <div style="margin: 15px 0px;text-align: right;" class="checkbox-hidden">
                        <label for="{{form_urina_rotina.empty_form.DELETE.id_for_label}}" style="cursor: pointer; font-weight: 600" class="label" onclick="delete_row(this)">{{ form_urina_rotina.empty_form.DELETE.label }}</label>
                        {{ form_urina_rotina.empty_form.DELETE }}
                    </div>


                </div>
                <button type="button" id="add-more">Добавить файл</button>
                <button type="submit" class="button">Отправить</button>

            </form>
            </div>
            {% else %}<meta http-equiv="REFRESH" content="0;url={% url 'sign-in' %}">
            {%endif%}
        </div>
    <script src="{% static 'js/inlines.js' %}"></script>
    </main>
{% endblock %}