{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/sign-style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
</head>
<body>
  <div class="container">
      <div class="login-wrap">
          <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Войти</label>
            <a href="{% url 'sign-up' %}"> <label style="cursor: pointer;" class="tab">регистрация</label></a>
            <div class="login-form">
              <div class="sign-in-htm">
              <form method="POST" action="">
                  <div class="group">
                    {% if form.errors %}
                        {% for key,value in form.errors.items %}
                            {{value}}
                        {% endfor %}
                    {% else %}
                    {%endif%}
                  </div>
                  {% csrf_token %}
                  {% for field in form %}

                          <div class="group">
                                          <label for="{{field.id_for_label}}" class="label">{{ field.label }}</label>
                              {{ field }}
                          </div>

                  {% endfor %}
                <div class="group">
                    <button type="submit" class="button">{{ button }}</button></div>
              </form>
              </div>
            </div>
          </div>
      </div>

  </div>
</body>
</html>